/pcap-client/.direnv/
/pcap-client/.envrc
/pcap-client/dist-newstyle/
/pcap-client/src/
/pcap-th/dist-newstyle/
/pcap-th/.envrc
/pcap-th/.direnv/
/hs-wlroots/.direnv/
/hs-wlroots/.envrc
/hs-wlroots/dist-newstyle/
/hs-wlroots/src/
